<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="laugh.jager.risitaslaugh" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/risitas_icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <receiver android:name=".RisitasWidgetProvider" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/app_widget_info" />
        </receiver>

        <service
            android:name=".PlayerService"
            android:enabled="true"
            android:exported="false" >

        </service>
    </application>

</manifest>
